.table-actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.table-action-button {
  padding: var(--spacing-1) var(--spacing-2);
}

.table-action-button:not(:disabled):hover {
  background-color: var(--semi-color-fill-0);
}
